body {
    font-family: 'SF Pro Display', sans-serif;
}

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'SF Pro Display', -apple-system, 'Pretendard', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

:root {
    -webkit-tap-highlight-color: transparent;
}


.sound_only{
    position: absolute;
    width:0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: -9999;
    top: 0;
}



.kakao-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fee500;
    color: #000;
    font-size: 16px;
    z-index:99;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    bottom:20px;
    left:20px;
}

.kakao-button:hover {
    background-color: #ffd900;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.kakao-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.insta-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color: #fff;
    font-size: 16px;
    z-index: 99;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    bottom: 20px;
    left: 20px;
}

.insta-button:hover {
    filter: brightness(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.insta-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
