.error[data-v-ec0cafe7]{padding:40px;text-align:center;color:#444}.error a[data-v-ec0cafe7]{display:inline-block;margin-top:20px;padding:10px 18px;background:#fe8200;color:#fff;text-decoration:none;border-radius:6px}
