.font-termina[data-v-707e8ee3]{font-family:Termina,Pretendard Variable,sans-serif}.scrollbar-hide[data-v-75b72d2b]{-ms-overflow-style:none;scrollbar-width:none}.scrollbar-hide[data-v-75b72d2b]::-webkit-scrollbar{display:none}
